<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.dovahkiin.mapper.CountMapper">

    <select id="count1" resultType="java.util.HashMap">
		SELECT
			<choose>
				<when test="type==0">
					DATE_FORMAT( vc.recored_date, '%Y-%m-%d' ) days,
				</when>
				<when test="type==1">
					DATE_FORMAT( vc.recored_date, '%Y-%m' ) days,
				</when>
			</choose>
			sum( vc.`consumption` ) consumption
		FROM video_cost vc
		left join optimizer opt on opt.id = vc.optimizer_id
		left join organization dem on dem.id = vc.demand_sector_id
		left join customer cus on cus.id = vc.customer_id
		left join product_type pty on pty.id = cus.product_type_id
		left join industry ind on ind.id = cus.industry_id
		left join video_type vdt on vdt.id = cus.video_type_id
		left join originality ori on ori.id = cus.originality_id
		left join photographer pho on pho.id = cus.photographer_id
		left join editor edi on edi.id = cus.editor_id
		LEFT JOIN performer per1 ON per1.id = cus.performer1_id
		LEFT JOIN performer per2 ON per2.id = cus.performer2_id
		LEFT JOIN performer per3 ON per3.id = cus.performer3_id
		LEFT JOIN true_customer tcus ON tcus.id = cus.true_customer_id
		<where>
			vc.`consumption` >0 and vc.delete_flag = 0
			and vc.recored_date BETWEEN #{recoredDate_start } and #{recoredDate_end  }
			<choose>
				<when test="userId!=null and userId!='' and optimizer == null ">and vc.created_by = #{userId}</when>
				<when test="userId==null and optimizer != null and optimizer != ''" >and opt.name = #{optimizer} </when>
				<when test="userId!=null and userId!='' and optimizer != null and optimizer != ''" >and ( opt.name = #{optimizer} or vc.created_by = #{userId} )  </when>
			</choose>
			<if test="videoCost!=null" >
				<if test="videoCost.optimizer!=null and videoCost.optimizer.id!=null  " >
					and vc.optimizer_id = #{videoCost.optimizer.id }
				</if>
				<if test="videoCost.demandSector!=null and videoCost.demandSector.id!=null ">
					and vc.demand_sector_id =#{ videoCost.demandSector.id }
				</if>
				<if test="videoCost.customer!=null" >
					<if test="videoCost.customer.id!=null" >
						and vc.customer_id = #{videoCost.customer.id}
					</if>
					<if test="videoCost.customer.trueCustomer != null and videoCost.customer.trueCustomer.id != null  ">
						and cus.true_customer_id = #{videoCost.customer.trueCustomer.id }
					</if>
					<if test="videoCost.customer.originality !=null and videoCost.customer.originality.id !=null ">
						and cus.originality_id = #{ videoCost.customer.originality.id }
					</if>
					<if test="videoCost.customer.performer1!=null and videoCost.customer.performer1.id != null " >
						and (
						cus.performer1_id = #{ videoCost.customer.performer1.id }
						or cus.performer2_id = #{ videoCost.customer.performer1.id }
						or cus.performer3_id = #{ videoCost.customer.performer1.id }
						)
					</if>
					<if test="videoCost.customer.photographer !=null and videoCost.customer.photographer.id !=null  ">
						and cus.photographer_id = #{ videoCost.customer.photographer.id }
					</if>
					<if test="videoCost.customer.editor !=null and videoCost.customer.editor.id != null  " >
						and cus.editor_id = #{ videoCost.customer.editor.id }
					</if>

					<if test="videoCost.customer.industry !=null and videoCost.customer.industry.id != null  ">
						and cus.industry_id = #{ videoCost.customer.industry.id }
					</if>
					<if test="videoCost.customer.productType !=null and videoCost.customer.productType.id != null  ">
						and cus.product_type_id = #{ videoCost.customer.productType.id }
					</if>
					<if test="videoCost.customer.videoType !=null and videoCost.customer.videoType.id != null  ">
						and cus.video_type_id = #{ videoCost.customer.videoType.id }
					</if>
				</if>
			</if>
		</where>
		GROUP BY days
	</select>
</mapper>
