<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.dovahkiin.mapper.CustomerMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="cn.dovahkiin.model.Customer">
        <id column="id" property="id"/>
        <result column="name" property="name"/>
        <result column="code" property="code"/>
        <result column="update_time" property="updateTime"/>
        <result column="create_time" property="createTime"/>
        <result column="delete_flag" property="deleteFlag"/>
        <result column="complete_date" property="completeDate"/>
        <result column="max_effect_con" property="maxEffectCon" />
        <result column="income_ratio" property="inComeRatio" />
        <association property="editor" javaType="cn.dovahkiin.model.Editor" columnPrefix="editor_" resultMap="cn.dovahkiin.mapper.EditorMapper.BaseResultMap" />
        <association property="industry" javaType="cn.dovahkiin.model.Industry" columnPrefix="industry_" resultMap="cn.dovahkiin.mapper.IndustryMapper.BaseResultMap" />
        <association property="productType" javaType="cn.dovahkiin.model.ProductType" columnPrefix="product_type_" resultMap="cn.dovahkiin.mapper.ProductTypeMapper.BaseResultMap" />
        <association property="originality" javaType="cn.dovahkiin.model.Originality" columnPrefix="originality_" resultMap="cn.dovahkiin.mapper.OriginalityMapper.BaseResultMap" />
        <association property="videoType" javaType="cn.dovahkiin.model.VideoType" columnPrefix="video_type_" resultMap="cn.dovahkiin.mapper.VideoTypeMapper.BaseResultMap" />
        <association property="photographer" javaType="cn.dovahkiin.model.Photographer" columnPrefix="photographer_" resultMap="cn.dovahkiin.mapper.PhotographerMapper.BaseResultMap" />
        <association property="performer1" javaType="cn.dovahkiin.model.Performer" columnPrefix="performer1_" resultMap="cn.dovahkiin.mapper.PerformerMapper.BaseResultMap" />
        <association property="performer2" javaType="cn.dovahkiin.model.Performer" columnPrefix="performer2_" resultMap="cn.dovahkiin.mapper.PerformerMapper.BaseResultMap" />
        <association property="performer3" javaType="cn.dovahkiin.model.Performer" columnPrefix="performer3_" resultMap="cn.dovahkiin.mapper.PerformerMapper.BaseResultMap" />
        <association property="trueCustomer" javaType="cn.dovahkiin.model.TrueCustomer" columnPrefix="true_customer_" resultMap="cn.dovahkiin.mapper.TrueCustomerMapper.BaseResultMap" />
        <association property="supplier" javaType="cn.dovahkiin.model.Supplier" columnPrefix="supplier_" resultMap="cn.dovahkiin.mapper.SupplierMapper.BaseResultMap" />
        <association property="videoVersion" javaType="cn.dovahkiin.model.VideoVersion" columnPrefix="video_version_" resultMap="cn.dovahkiin.mapper.VideoVersionMapper.BaseResultMap" />
        <association property="priceLevel" javaType="cn.dovahkiin.model.PriceLevel" columnPrefix="price_level_" resultMap="cn.dovahkiin.mapper.PriceLevelMapper.BaseResultMap" />

    </resultMap>
    <resultMap id="BaseResultMapWithCount" type="cn.dovahkiin.model.Customer" extends="BaseResultMap">
        <result column="cumulativeConsumptionByPro" property="cumulativeConsumptionByPro"/>
        <result column="cumulativeConsumptionRankingByProglam" property="cumulativeConsumptionRankingByProglam"/>
    </resultMap>
    <sql id="Base_Column_List">
    	id, name,
    	complete_date,
    	performer3_id,
    	performer2_id,
    	performer1_id,
    	editor_id,
    	photographer_id,
    	originality_id,
    	video_type_id,
    	product_type_id,
    	industry_id,
    	true_customer_id,
    	code,
    	update_time,
    	create_time,
    	delete_flag,supplier_id,video_version_id,price_level_id,max_effect_con,income_ratio
  	</sql>
    <select id="selectByCode" resultMap="BaseResultMapWithCount">
         SELECT
        <include refid="Base_Column_List" />
         from customer where code = #{ code }
    </select>
    <select id="selectList" resultMap="BaseResultMapWithCount">
        SELECT
        cus.id ,
        cus.update_time,
        cus.create_time ,
        cus.delete_flag ,
        cus.name,
        cus.code,
        cus.product_type_id ,
        cus.industry_id,
        cus.originality_id,
        cus.video_type_id,
        cus.complete_date ,
        cus.photographer_id,
        cus.editor_id,
        cus.performer1_id,
        cus.performer2_id,
        cus.performer3_id,
        cus.true_customer_id,
        cus.max_effect_con,
        cus.income_ratio,
        pty.`name` as product_type_name,
        pty.`code` as product_type_code,
        pty.update_time as product_type_update_time,
        pty.create_time as product_type_create_time,
        pty.delete_flag as product_type_delete_flag,
        ind.`name` as industry_name,
        ind.`code` as industry_code,
        ind.update_time as industry_update_time,
        ind.create_time as industry_create_time,
        ind.delete_flag as industry_delete_flag,
        ori.`name` as originality_name,
        ori.`code` as originality_code,
        ori.update_time as originality_update_time,
        ori.create_time as originality_create_time,
        ori.delete_flag as originality_delete_flag,
        vdt.`name` as video_type_name,
        vdt.`code` as video_type_code,
        vdt.update_time as video_type_update_time,
        vdt.create_time as video_type_create_time,
        vdt.delete_flag as video_type_delete_flag,
        pho.`name` as photographer_name,
        pho.`code` as photographer_code,
        pho.update_time as photographer_update_time,
        pho.create_time as photographer_create_time,

        edi.`name` as editor_name,
        edi.`code` as editor_code,
        edi.update_time as editor_update_time,
        edi.create_time as editor_create_time,
        edi.delete_flag as editor_delete_flag,
        per1.`name` as performer1_name,
        per1.`code` as performer1_code,
        per1.update_time as performer1_update_time,
        per1.create_time as performer1_create_time,
        per1.delete_flag as performer1_delete_flag,
        per2.`name` as performer2_name,
        per2.`code` as performer2_code,
        per2.update_time as performer2_update_time,
        per2.create_time as performer2_create_time,
        per2.delete_flag as performer2_delete_flag,
        per3.`name` as performer3_name,
        per3.`code` as performer3_code,
        per3.update_time as performer3_update_time,
        per3.create_time as performer3_create_time,
        per3.delete_flag as performer3_delete_flag,

        tcus.`name` as true_customer_name,
        tcus.`code` as true_customer_code,
        tcus.update_time as true_customer_update_time,
        tcus.create_time as true_customer_create_time,
        tcus.delete_flag as true_customer_delete_flag,
        sup.id as supplier_id,
        sup.`name` as supplier_name,
        sup.code as supplier_code,
        sup.update_time as supplier_update_time,
        sup.create_time as supplier_create_time,
        sup.delete_flag as supplier_delete_flag,
        vve.id as video_version_id,
        vve.`name` as video_version_name,
        vve.code as video_version_code,
        vve.update_time as video_version_update_time,
        vve.create_time as video_version_create_time,
        vve.delete_flag  as video_version_delete_flag,
        ple.id as price_level_id,
        ple.`name` as price_level_name,
        ple.code as price_level_code,
        ple.base_price as price_level_base_price,
        ple.update_time as price_level_update_time,
        ple.update_by as price_level_update_by,
        ple.create_time as price_level_create_time,
        ple.create_by as price_level_create_by,
        ple.delete_flag as price_level_delete_flag,
        pm.cumulativeConsumptionByPro,
        pm.cumulativeConsumptionRankingByProglam
        from customer cus
        left join product_type pty on pty.id = cus.product_type_id
        left join industry ind on ind.id = cus.industry_id
        left join originality ori on ori.id = cus.originality_id
        left join video_type vdt on vdt.id = cus.video_type_id
        left join photographer pho on pho.id = cus.photographer_id
        left join editor edi on edi.id = cus.editor_id
        LEFT JOIN performer per1 ON per1.id = cus.performer1_id
        LEFT JOIN performer per2 ON per2.id = cus.performer2_id
        LEFT JOIN performer per3 ON per3.id = cus.performer3_id
        LEFT JOIN true_customer tcus ON tcus.id = cus.true_customer_id
        LEFT JOIN supplier sup ON sup.id = cus.supplier_id
        LEFT JOIN video_version vve ON vve.id = cus.video_version_id
        LEFT JOIN price_level ple ON ple.id = cus.price_level_id
        left join (
        SELECT
        customer_id,cumulativeConsumptionByPro,@rownum :=@rownum + 1 AS cumulativeConsumptionRankingByProglam
        FROM
        (
        SELECT
        customer_id,
        SUM(consumption) AS cumulativeConsumptionByPro
        FROM video_cost
        WHERE consumption > 0 and delete_flag = 0
        GROUP BY customer_id
        ORDER BY cumulativeConsumptionByPro DESC
        ) t1,
        (SELECT @rownum := 0) rownum
        ) pm on cus.id = pm.customer_id
        <where>
            <if test="customer!=null">
                <if test="customer.deleteFlag!=null">
                    cus.delete_flag = #{ customer.deleteFlag }
                </if>
                <if test="customer.id!=null">
                    and cus.id = #{customer.id }
                </if>
                <if test="customer.code!=null  and customer.code != ''  ">
                    and cus.code = #{customer.code }
                </if>
                <if test="customer.trueCustomer != null and customer.trueCustomer.id != null  ">
                    and cus.true_customer_id = #{customer.trueCustomer.id }
                </if>
                <if test="customer.originality !=null and customer.originality.id !=null ">
                    and cus.originality_id = #{ customer.originality.id }
                </if>
                <if test="customer.performer1!=null and customer.performer1.id != null ">
                    and (
                    cus.performer1_id = #{ customer.performer1.id }
                    or cus.performer2_id = #{ customer.performer1.id }
                    or cus.performer3_id = #{ customer.performer1.id }
                    )
                </if>
                <if test="customer.photographer !=null and customer.photographer.id !=null  ">
                    and cus.photographer_id = #{ customer.photographer.id }
                </if>
                <if test="customer.editor !=null and customer.editor.id != null  ">
                    and cus.editor_id = #{ customer.editor.id }
                </if>
                <if test="customer.industry !=null and customer.industry.id != null  ">
                    and cus.industry_id = #{ customer.industry.id }
                </if>
                <if test="customer.productType !=null and customer.productType.id != null  ">
                    and cus.product_type_id = #{ customer.productType.id }
                </if>
                <if test="customer.videoType !=null and customer.videoType.id != null  ">
                    and cus.video_type_id = #{ customer.videoType.id }
                </if>
                <if test="customer.supplier!=null and customer.supplier.id!=null">
                    and cus.supplier_id = #{customer.supplier.id}
                </if>
                <if test="customer.priceLevel!=null and customer.priceLevel.id!=null" >
                    and cus.price_level_id = #{customer.priceLevel.id}
                </if>
                <if test="customer.videoVersion!=null and customer.videoVersion.id!=null" >
                    and cus.video_version_id = #{customer.videoVersion.id}
                </if>
            </if>
            <if test="KeyWord !=null">
                <foreach collection="KeyWord" item="keyW">
                    and  ( 1=2
                    <if test="all !=null or productName != null "> or pty.`name` like #{keyW}</if>
                    <if test="all !=null or customName != null ">
                        or cus.`name` like #{keyW}
                    </if>
                    <if test="all !=null or customCode != null ">
                        or cus.`code` like #{keyW}
                    </if>
                    <if test="all !=null or industryName != null ">
                        or ind.`name` like #{keyW}
                    </if>
                    <if test="all !=null or videoTypeName != null ">
                        or vdt.`name` like #{keyW}
                    </if>
                    <if test="all !=null or originalityName != null ">
                        or ori.`name` like #{keyW}
                    </if>

                    <if test="all !=null or photographerName != null ">
                        or pho.`name` like #{keyW}
                    </if>
                    <if test="all !=null or editorName != null ">
                        or edi.`name` like #{keyW}
                    </if>

                    <if test="all !=null or performerName != null ">
                        or per1.`name` like #{keyW}
                        or per2.`name` like #{keyW}
                        or per3.`name` like #{keyW}
                    </if>
                    <if test="all !=null or trueCustomerName != null ">
                        or tcus.`name` like #{keyW}
                    </if>
                    <if test="all!=null or supplierName!=null ">or sup.name like #{keyW}</if>
                    <if test="all!=null or videoVersionName!=null ">or vve.name like #{keyW}</if>
                    <if test="all!=null or priceLevel!=null ">or ple.name like #{keyW}</if>
                    )
                </foreach>
            </if>
            <if test="completeDate_start!=null and completeDate_end!=null ">
                and ( cus.complete_date between #{completeDate_start} and #{completeDate_end} )
            </if>
        </where>
        <if test="sort !=null and sort !='' and order!=null and order!='' ">
            ORDER BY
            <choose>
                <when test="sort=='productType'">pty.`name`</when>
                <when test="sort=='code'">cus.`code`</when>
                <when test="sort=='name'">cus.`name`</when>
                <when test="sort=='cumulativeConsumptionByPro'">pm.cumulativeConsumptionByPro</when>
                <when test="sort=='cumulativeConsumptionRankingByProglam'">pm.cumulativeConsumptionByPro</when>
                <when test="sort=='industry'">ind.`name`</when>
                <when test="sort=='videoType'">vdt.`name`</when>
                <when test="sort=='completeDate'">cus.complete_date</when>
                <when test="sort=='originality'">ori.`name`</when>
                <when test="sort=='photographer'">pho.`name`</when>
                <when test="sort=='editor'">edi.`name`</when>
                <when test="sort=='performer1'">per1.`name`</when>
                <when test="sort=='performer2'">per2.`name`</when>
                <when test="sort=='performer3'">per3.`name`</when>
                <when test="sort=='trueCustomer'">tcus.`name`</when>
                <when test="sort=='supplier'">sup.`name`</when>
                <when test="sort=='videoVersion'">vve.`name`</when>
                <when test="sort=='priceLevel'">ple.`base_Price`</when>
                <when test="sort=='inComeRatio'">cus.`income_ratio`</when>
                <when test="sort=='maxEffectCon'">cus.`max_effect_con`</when>
                <otherwise>pm.cumulativeConsumptionByPro</otherwise>
            </choose>
            <choose>
                <when test="order=='asc'">asc</when>
                <otherwise>desc</otherwise>
            </choose>
        </if>
        <if test="offset!=null and limit!=null">
            LIMIT #{offset} , #{limit}
        </if>
    </select>

    <select id="selectSimpleList" resultMap="BaseResultMap">
        SELECT
        cus.id ,
        cus.update_time,
        cus.create_time ,
        cus.delete_flag ,
        cus.name,
        cus.code
        from customer cus
        <where>
                delete_flag = 0
                <if test="supplierId!=null">and cus.supplier_id =#{supplierId}</if>
        </where>
    </select>
    <select id="selectSimpleListByVideoCost" resultMap="BaseResultMap">
        select DISTINCT
        cus.id ,cus.name,cus.code,
        cus.update_time,
        cus.create_time ,
        cus.delete_flag,
        vve.id as video_version_id,
        vve.`name` as video_version_name,
        vve.code as video_version_code,
        vve.update_time as video_version_update_time,
        vve.create_time as video_version_create_time,
        vve.delete_flag  as video_version_delete_flag
        from video_cost vc
        left join optimizer opt on opt.id = vc.optimizer_id
        left join organization dem on dem.id = vc.demand_sector_id
        left join customer cus on cus.id = vc.customer_id
        left join product_type pty on pty.id = cus.product_type_id
        left join industry ind on ind.id = cus.industry_id
        left join video_type vdt on vdt.id = cus.video_type_id
        left join originality ori on ori.id = cus.originality_id
        left join photographer pho on pho.id = cus.photographer_id
        left join editor edi on edi.id = cus.editor_id
        LEFT JOIN performer per1 ON per1.id = cus.performer1_id
        LEFT JOIN performer per2 ON per2.id = cus.performer2_id
        LEFT JOIN performer per3 ON per3.id = cus.performer3_id
        LEFT JOIN true_customer tcus ON tcus.id = cus.true_customer_id
        LEFT JOIN supplier sup ON sup.id = cus.supplier_id
        LEFT JOIN video_version vve ON vve.id = cus.video_version_id
        LEFT JOIN price_level ple ON ple.id = cus.price_level_id
        <where>
            vc.`consumption` >0 and vc.delete_flag = 0
            and vc.recored_date BETWEEN #{recoredDate_start } and #{recoredDate_end  }
            <choose>
                <when test="userId!=null and userId!='' and optimizer == null ">and vc.created_by = #{userId}</when>
                <when test="userId==null and optimizer != null and optimizer != ''" >and opt.name = #{optimizer} </when>
                <when test="userId!=null and userId!='' and optimizer != null and optimizer != ''" >and ( opt.name = #{optimizer} or vc.created_by = #{userId} )  </when>
            </choose>
            <if test="videoCost!=null" >
                <if test="videoCost.optimizer!=null and videoCost.optimizer.id!=null  " >
                    and vc.optimizer_id = #{videoCost.optimizer.id }
                </if>
                <if test="videoCost.demandSector!=null and videoCost.demandSector.id!=null ">
                    and vc.demand_sector_id =#{ videoCost.demandSector.id }
                </if>
                <if test="videoCost.customer!=null" >
                    <if test="videoCost.customer.id!=null" >
                        and vc.customer_id = #{videoCost.customer.id}
                    </if>
                    <if test="videoCost.customer.trueCustomer != null and videoCost.customer.trueCustomer.id != null  ">
                        and cus.true_customer_id = #{videoCost.customer.trueCustomer.id }
                    </if>
                    <if test="videoCost.customer.originality !=null and videoCost.customer.originality.id !=null ">
                        and cus.originality_id = #{ videoCost.customer.originality.id }
                    </if>
                    <if test="videoCost.customer.performer1!=null and videoCost.customer.performer1.id != null " >
                        and (
                        cus.performer1_id = #{ videoCost.customer.performer1.id }
                        or cus.performer2_id = #{ videoCost.customer.performer1.id }
                        or cus.performer3_id = #{ videoCost.customer.performer1.id }
                        )
                    </if>
                    <if test="videoCost.customer.photographer !=null and videoCost.customer.photographer.id !=null  ">
                        and cus.photographer_id = #{ videoCost.customer.photographer.id }
                    </if>
                    <if test="videoCost.customer.editor !=null and videoCost.customer.editor.id != null  " >
                        and cus.editor_id = #{ videoCost.customer.editor.id }
                    </if>

                    <if test="videoCost.customer.industry !=null and videoCost.customer.industry.id != null  ">
                        and cus.industry_id = #{ videoCost.customer.industry.id }
                    </if>
                    <if test="videoCost.customer.productType !=null and videoCost.customer.productType.id != null  ">
                        and cus.product_type_id = #{ videoCost.customer.productType.id }
                    </if>
                    <if test="videoCost.customer.videoType !=null and videoCost.customer.videoType.id != null  ">
                        and cus.video_type_id = #{ videoCost.customer.videoType.id }
                    </if>
                    <if test="customer.supplier!=null and customer.supplier.id!=null">
                        and cus.supplier_id = #{customer.supplier.id}
                    </if>
                    <if test="customer.priceLevel!=null and customer.priceLevel.id!=null" >
                        and cus.price_level_id = #{customer.priceLevel.id}
                    </if>
                    <if test="customer.videoVersion!=null and customer.videoVersion.id!=null" >
                        and cus.video_version_id = #{customer.videoVersion.id}
                    </if>
                </if>
            </if>
        </where>
    </select>



    <select id="selectTotal" resultType="java.lang.Integer">
        SELECT
        count(cus.id)
        from customer cus
        left join product_type pty on pty.id = cus.product_type_id
        left join industry ind on ind.id = cus.industry_id
        left join originality ori on ori.id = cus.originality_id
        left join video_type vdt on vdt.id = cus.video_type_id
        left join photographer pho on pho.id = cus.photographer_id
        left join editor edi on edi.id = cus.editor_id
        LEFT JOIN performer per1 ON per1.id = cus.performer1_id
        LEFT JOIN performer per2 ON per2.id = cus.performer2_id
        LEFT JOIN performer per3 ON per3.id = cus.performer3_id
        LEFT JOIN true_customer tcus ON tcus.id = cus.true_customer_id
        LEFT JOIN supplier sup ON sup.id = cus.supplier_id
        LEFT JOIN video_version vve ON vve.id = cus.video_version_id
        LEFT JOIN price_level ple ON ple.id = cus.price_level_id
        <where>
            <if test="customer!=null">
                <if test="customer.deleteFlag!=null">
                    cus.delete_flag = #{ customer.deleteFlag }
                </if>
                <if test="customer.id!=null">
                    and cus.id = #{customer.id }
                </if>
                <if test="customer.code!=null  and customer.code != ''  ">
                    and cus.code = #{customer.code }
                </if>
                <if test="customer.trueCustomer != null and customer.trueCustomer.id != null  ">
                    and cus.true_customer_id = #{customer.trueCustomer.id }
                </if>
                <if test="customer.originality !=null and customer.originality.id !=null ">
                    and cus.originality_id = #{ customer.originality.id }
                </if>
                <if test="customer.performer1!=null and customer.performer1.id != null ">
                    and (
                    cus.performer1_id = #{ customer.performer1.id }
                    or cus.performer2_id = #{ customer.performer1.id }
                    or cus.performer3_id = #{ customer.performer1.id }
                    )
                </if>
                <if test="customer.photographer !=null and customer.photographer.id !=null  ">
                    and cus.photographer_id = #{ customer.photographer.id }
                </if>
                <if test="customer.editor !=null and customer.editor.id != null  ">
                    and cus.editor_id = #{ customer.editor.id }
                </if>
                <if test="customer.industry !=null and customer.industry.id != null  ">
                    and cus.industry_id = #{ customer.industry.id }
                </if>
                <if test="customer.productType !=null and customer.productType.id != null  ">
                    and cus.product_type_id = #{ customer.productType.id }
                </if>
                <if test="customer.videoType !=null and customer.videoType.id != null  ">
                    and cus.video_type_id = #{ customer.videoType.id }
                </if>
                <if test="customer.supplier!=null and customer.supplier.id!=null">
                    and cus.supplier_id = #{customer.supplier.id}
                </if>
                <if test="customer.priceLevel!=null and customer.priceLevel.id!=null" >
                    and cus.price_level_id = #{customer.priceLevel.id}
                </if>
                <if test="customer.videoVersion!=null and customer.videoVersion.id!=null" >
                    and cus.video_version_id = #{customer.videoVersion.id}
                </if>
            </if>
            <if test="KeyWord !=null">
                <foreach collection="KeyWord" item="keyW">
                    and  ( 1=2
                    <if test="all !=null or productName != null "> or pty.`name` like #{keyW}</if>
                    <if test="all !=null or customName != null ">
                        or cus.`name` like #{keyW}
                    </if>
                    <if test="all !=null or customCode != null ">
                        or cus.`code` like #{keyW}
                    </if>
                    <if test="all !=null or industryName != null ">
                        or ind.`name` like #{keyW}
                    </if>
                    <if test="all !=null or videoTypeName != null ">
                        or vdt.`name` like #{keyW}
                    </if>
                    <if test="all !=null or originalityName != null ">
                        or ori.`name` like #{keyW}
                    </if>
                    <if test="all !=null or photographerName != null ">
                        or pho.`name` like #{keyW}
                    </if>
                    <if test="all !=null or editorName != null ">
                        or edi.`name` like #{keyW}
                    </if>
                    <if test="all !=null or performerName != null ">
                        or per1.`name` like #{keyW}
                        or per2.`name` like #{keyW}
                        or per3.`name` like #{keyW}
                    </if>
                    <if test="all !=null or trueCustomerName != null ">
                        or tcus.`name` like #{keyW}
                    </if>
                    <if test="all!=null or supplierName!=null ">or sup.name like #{keyW}</if>
                    <if test="all!=null or videoVersionName!=null ">or vve.name like #{keyW}</if>
                    <if test="all!=null or priceLevel!=null ">or ple.name like #{keyW}</if>
                    )
                </foreach>
            </if>
            <if test="completeDate_start!=null and completeDate_end!=null ">
                and ( cus.complete_date between #{completeDate_start} and #{completeDate_end} )
            </if>
        </where>


    </select>

    <select id="countForCheck" resultType="int" >
        select count(*) from customer where code = #{code} and video_version_id = #{videoVersionId}
        <if test="selfId!=null">and id != #{selfId}</if>
    </select>

    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    	delete from customer where id = #{id,jdbcType=BIGINT}
  	</delete>
    <insert id="insert" parameterType="cn.dovahkiin.model.Customer" useGeneratedKeys="true" keyProperty="id"
            keyColumn="id">
        insert into customer (`name`, true_customer_id, originality_id,
                              complete_date, performer3_id, performer2_id,
                              performer1_id, editor_id, photographer_id,
                              video_type_id, product_type_id, industry_id,
                              code, update_time, create_time,
                              delete_flag, max_effect_con, income_ratio,
                              supplier_id, video_version_id, price_level_id)
        values (#{name,jdbcType=VARCHAR}, #{trueCustomer.id,jdbcType=BIGINT}, #{originality.id,jdbcType=BIGINT},
                #{completeDate,jdbcType=DATE}, #{performer3.id,jdbcType=BIGINT}, #{performer2.id,jdbcType=BIGINT},
                #{performer1.id,jdbcType=BIGINT}, #{editor.id,jdbcType=BIGINT}, #{photographer.id,jdbcType=BIGINT},
                #{videoType.id,jdbcType=BIGINT}, #{productType.id,jdbcType=BIGINT}, #{industry.id,jdbcType=BIGINT},
                #{code,jdbcType=VARCHAR}, #{updateTime,jdbcType=TIMESTAMP}, #{createTime,jdbcType=TIMESTAMP},
                #{deleteFlag,jdbcType=INTEGER}, #{maxEffectCon,jdbcType=DOUBLE}, #{inComeRatio,jdbcType=DOUBLE},
                #{supplier.id,jdbcType=BIGINT}, #{videoVersion.id,jdbcType=BIGINT}, #{priceLevel.id,jdbcType=BIGINT})
  	</insert>
    <insert id="insertSelective" parameterType="cn.dovahkiin.model.Customer" useGeneratedKeys="true" keyProperty="id"
            keyColumn="id">
        insert into customer
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="name != null">
                name,
            </if>
            <if test="completeDate != null">
                complete_date,
            </if>
            <if test="trueCustomer!=null and trueCustomer.id!=null">
                true_customer_id,
            </if>
            <if test="performer3!=null and  performer3.id != null">
                performer3_id,
            </if>
            <if test="performer2!=null and  performer2.id != null">
                performer2_id,
            </if>
            <if test="performer1!=null and  performer1.id != null">
                performer1_id,
            </if>
            <if test="editor!=null and editor.id != null">
                editor_id,
            </if>
            <if test="photographer!=null and photographer.id != null">
                photographer_id,
            </if>
            <if test="originality!=null and originality.id != null">
                originality_id,
            </if>
            <if test="videoType!=null and videoType.id != null">
                video_type_id,
            </if>
            <if test="productType!=null and productType.id != null">
                product_type_id,
            </if>
            <if test="industry!=null and industry.id != null">
                industry_id,
            </if>
            <if test="code != null">
                code,
            </if>
            <if test="updateTime != null">
                update_time,
            </if>
            <if test="createTime != null">
                create_time,
            </if>
            <if test="deleteFlag != null">
                delete_flag,
            </if>
            <if test="maxEffectCon != null">
                max_effect_con,
            </if>
            <if test="inComeRatio != null">
                income_ratio,
            </if>
            <if test="supplier!=null and supplier.id != null">
                supplier_id,
            </if>
            <if test="videoVersion !=null and videoVersion.id != null">
                video_version_id,
            </if>
            <if test="priceLevel !=null and priceLevel.id != null">
                price_level_id,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=BIGINT},
            </if>
            <if test="name != null">
                #{name,jdbcType=VARCHAR},
            </if>
            <if test="completeDate != null">
                #{completeDate,jdbcType=DATE},
            </if>
            <if test="trueCustomer!=null and trueCustomer.id!=null">
                #{trueCustomer.id,jdbcType=BIGINT},
            </if>
            <if test="performer3.id != null">
                #{performer3.id,jdbcType=BIGINT},
            </if>
            <if test="performer2!=null and  performer2.id != null">
                #{performer2.id,jdbcType=BIGINT},
            </if>
            <if test="performer1!=null and  performer1.id != null">
                #{performer1.id,jdbcType=BIGINT},
            </if>
            <if test="editor!=null and editor.id != null">
                #{editor.id,jdbcType=BIGINT},
            </if>
            <if test="photographer!=null and photographer.id != null">
                #{photographer.id,jdbcType=BIGINT},
            </if>
            <if test="originality!=null and originality.id != null">
                #{originality.id,jdbcType=BIGINT},
            </if>
            <if test="videoType!=null and videoType.id != null">
                #{videoType.id,jdbcType=BIGINT},
            </if>
            <if test="productType!=null and productType.id != null">
                #{productType.id,jdbcType=BIGINT},
            </if>
            <if test="industry!=null and industry.id != null">
                #{industry.id,jdbcType=BIGINT},
            </if>
            <if test="code != null">
                #{code,jdbcType=VARCHAR},
            </if>
            <if test="updateTime != null">
                #{updateTime,jdbcType=TIMESTAMP},
            </if>
            <if test="createTime != null">
                #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="deleteFlag != null">
                #{deleteFlag,jdbcType=INTEGER},
            </if>
            <if test="maxEffectCon != null">
                #{maxEffectCon,jdbcType=DOUBLE},
            </if>
            <if test="inComeRatio != null">
                #{inComeRatio,jdbcType=DOUBLE},
            </if>
            <if test="supplier!=null and supplier.id != null">
                #{supplier.id,jdbcType=BIGINT},
            </if>
            <if test="videoVersion!=null and videoVersion.id != null">
                #{videoVersion.id,jdbcType=BIGINT},
            </if>
            <if test="priceLevel!=null and priceLevel.id != null">
                #{priceLevel.id,jdbcType=BIGINT},
            </if>
        </trim>
    </insert>

    <update id="updateByPrimaryKeySelective" parameterType="cn.dovahkiin.model.Customer">
        update customer
        <set>
            <if test="name != null">
                name = #{name,jdbcType=VARCHAR},
            </if>
            <if test="completeDate != null">
                complete_date = #{completeDate,jdbcType=DATE},
            </if>
            <if test="trueCustomer!=null and trueCustomer.id!=null">
                true_customer_id = #{trueCustomer.id,jdbcType=BIGINT},
            </if>
            <if test="performer3!=null and performer3.id != null">
                performer3_id = #{performer3.id,jdbcType=BIGINT},
            </if>
            <if test="performer2 !=null and performer2.id != null">
                performer2_id = #{performer2.id,jdbcType=BIGINT},
            </if>
            <if test="performer1!=null and performer1.id != null">
                performer1_id = #{performer1.id,jdbcType=BIGINT},
            </if>
            <if test="editor!=null and editor.id != null">
                editor_id = #{editor.id,jdbcType=BIGINT},
            </if>
            <if test="photographer!=null and  photographer.id != null">
                photographer_id = #{photographer.id,jdbcType=BIGINT},
            </if>
            <if test="originality !=null and  originality.id != null">
                originality_id = #{originality.id,jdbcType=BIGINT},
            </if>
            <if test="videoType!=null and  videoType.id != null">
                video_type_id = #{videoType.id,jdbcType=BIGINT},
            </if>
            <if test="productType!=null and  productType.id != null">
                product_type_id = #{productType.id,jdbcType=BIGINT},
            </if>
            <if test="industry!=null and industry.id != null">
                industry_id = #{industry.id,jdbcType=BIGINT},
            </if>
            <if test="code != null">
                code = #{code,jdbcType=VARCHAR},
            </if>
            <if test="updateTime != null">
                update_time = #{updateTime,jdbcType=TIMESTAMP}
            </if>
            <if test="maxEffectCon != null">
                max_effect_con = #{maxEffectCon,jdbcType=DOUBLE},
            </if>
            <if test="inComeRatio != null">
                income_ratio = #{inComeRatio,jdbcType=DOUBLE},
            </if>
            <if test="supplier!=null and supplier.id != null">
                supplier_id = #{supplierId,jdbcType=BIGINT},
            </if>
            <if test="videoVersion!=null and videoVersion.id != null">
                video_version_id = #{videoVersion.id,jdbcType=BIGINT},
            </if>
            <if test="priceLevel!=null and priceLevel.id != null">
                price_level_id = #{priceLevel.id,jdbcType=BIGINT},
            </if>
        </set>
        where id = #{id,jdbcType=BIGINT}
    </update>
    <update id="updateByPrimaryKey" parameterType="cn.dovahkiin.model.Customer">
        update customer
        set name             = #{name,jdbcType=VARCHAR},
            complete_date    = #{completeDate,jdbcType=DATE},
            performer3_id    = #{performer3.id,jdbcType=BIGINT},
            performer2_id    = #{performer2.id,jdbcType=BIGINT},
            performer1_id    = #{performer1.id,jdbcType=BIGINT},
            editor_id        = #{editor.id,jdbcType=BIGINT},
            true_customer_id = #{trueCustomer.id,jdbcType=BIGINT},
            photographer_id  = #{photographer.id,jdbcType=BIGINT},
            originality_id   = #{originality.id,jdbcType=BIGINT},
            video_type_id    = #{videoType.id,jdbcType=BIGINT},
            product_type_id  = #{productType.id,jdbcType=BIGINT},
            industry_id      = #{industry.id,jdbcType=BIGINT},
            code             = #{code,jdbcType=VARCHAR},
            update_time      = #{updateTime,jdbcType=TIMESTAMP},
            max_effect_con   = #{maxEffectCon,jdbcType=DOUBLE},
            income_ratio     = #{inComeRatio,jdbcType=DOUBLE},
            supplier_id      = #{supplier.id,jdbcType=BIGINT},
            video_version_id = #{videoVersion.id,jdbcType=BIGINT},
            price_level_id   = #{priceLevel.id,jdbcType=BIGINT}
        where id = #{id,jdbcType=BIGINT}
  </update>
    <update id="deleteMany">
        update `customer`
        set delete_flag= 1
        where id in (
        <foreach collection="array" item="id" separator=",">
            #{id}
        </foreach>
        )
    </update>
    <delete id="deleteFlagIsOne" >
        delete from customer where delete_flag = 1
    </delete>
    <update id="rollBack">
        update `customer`
        set delete_flag= 0
        where id in (
        <foreach collection="array" item="id" separator=",">
            #{id}
        </foreach>
        )
    </update>

</mapper>
