<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.dovahkiin.mapper.PayLevelMapper">

	<!-- 通用查询映射结果 -->
	<resultMap id="BaseResultMap" type="cn.dovahkiin.model.PayLevel">
		<id column="id" property="id" />
		<result column="name" property="name" />
		<result column="code" property="code" />
		<result column="base_pay" property="basePay" />
		<result column="ratio" property="ratio" />
		<result column="max_effect_con" property="maxEffectCon" />
		<result column="max_effect_range" property="maxEffectRange" />
		<result column="update_time" property="updateTime" />
		<result column="update_by" property="updateBy" />
		<result column="create_time" property="createTime" />
		<result column="create_by" property="createBy" />
		<result column="delete_flag" property="deleteFlag" />
	</resultMap>
	<sql id="Base_Column_List">
		id, `name`, code, base_pay, update_time, update_by, create_time, create_by, delete_flag,ratio,max_effect_con,max_effect_range
	</sql>
	<sql id="Base_Column_List_table_pal_prefix_pay_level_">
		pal.id as pay_level_id,
		pal.`name` as pay_level_name,
		pal.code as pay_level_code,
		pal.base_pay as pay_level_base_pay,
		pal.update_time as pay_level_update_time,
		pal.update_by as pay_level_update_by,
		pal.create_time as pay_level_create_time,
		pal.create_by as pay_level_create_by,
		pal.delete_flag as pay_level_delete_flag,
		pal.ratio as pay_level_ratio,
		pal.max_effect_con as pay_level_max_effect_con,
		pal.max_effect_range as pay_level_max_effect_range
	</sql>
	<select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from pay_level
		where id = #{id,jdbcType=BIGINT}
	</select>
	<delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
		delete from pay_level
		where id = #{id,jdbcType=BIGINT}
	</delete>
	<update id="updateByPrimaryKey" parameterType="cn.dovahkiin.model.PayLevel">
		update pay_level
		set `name` = #{name,jdbcType=VARCHAR},
			code = #{code,jdbcType=VARCHAR},
			base_pay = #{basePay,jdbcType=DOUBLE},
			ratio = #{ratio,jdbcType=DOUBLE},
			max_effect_con = #{maxEffectCon,jdbcType=DOUBLE},
			max_effect_range = #{maxEffectRange,jdbcType=INTEGER},
			update_time = #{updateTime,jdbcType=TIMESTAMP},
			update_by = #{updateBy,jdbcType=BIGINT}
		where id = #{id,jdbcType=BIGINT}
	</update>
</mapper>
