<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.dovahkiin.mapper.PriceLevelMapper">
	<!-- 通用查询映射结果 -->
	<resultMap id="BaseResultMap" type="cn.dovahkiin.model.PriceLevel">
		<id column="id" property="id" />
		<result column="name" property="name" />
		<result column="code" property="code" />
		<result column="base_price" property="basePrice" />
		<result column="ratio" property="ratio" />
		<result column="max_effect_con" property="maxEffectCon" />
		<result column="max_effect_range" property="maxEffectRange" />
		<result column="update_time" property="updateTime" />
		<result column="update_by" property="updateBy" />
		<result column="create_time" property="createTime" />
		<result column="create_by" property="createBy" />
		<result column="delete_flag" property="deleteFlag" />
	</resultMap>
	<sql id="Base_Column_List">
		id, `name`, code, base_price, update_time, update_by, create_time, create_by, delete_flag,ratio,max_effect_con,max_effect_range
	</sql>
	<sql id="Base_Column_List_table_ple_prefix_price_level_">
		ple.id as price_level_id,
		ple.`name` as price_level_name,
		ple.code as price_level_code,
		ple.base_price as price_level_base_price,
		ple.update_time as price_level_update_time,
		ple.update_by as price_level_update_by,
		ple.create_time as price_level_create_time,
		ple.create_by as price_level_create_by,
		ple.delete_flag as price_level_delete_flag,
		ple.ratio as price_level_ratio,
		ple.max_effect_con as price_level_max_effect_con,
		ple.max_effect_range as price_level_max_effect_range
	</sql>
	<select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from price_level
		where id = #{id,jdbcType=BIGINT}
	</select>
	<delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
		delete from price_level where id = #{id,jdbcType=BIGINT}
	</delete>
	<update id="updateByPrimaryKey" parameterType="cn.dovahkiin.model.PriceLevel">
		update price_level
		set
		    `name` = #{name,jdbcType=VARCHAR},
			code = #{code,jdbcType=VARCHAR},
			base_price = #{basePrice,jdbcType=DOUBLE},
			update_time = #{updateTime,jdbcType=TIMESTAMP},
			ratio = #{ratio,jdbcType=DOUBLE},
		    max_effect_con = #{maxEffectCon,jdbcType=DOUBLE},
		    max_effect_range = #{maxEffectRange,jdbcType=INTEGER},
			update_by = #{updateBy,jdbcType=BIGINT}
		where id = #{id,jdbcType=BIGINT}
	</update>
</mapper>
